{% extends 'base.html.twig' %}

{% block title %}Inscription Donateur{% endblock %}

{% block body %}
    <h1>Compléter le profil Donateur</h1>
    <p>Merci de compléter votre profil pour finaliser votre inscription.</p>

    {% if app.user %}

    {{ form_start(donateurForm) }}
        {{ form_widget(donateurForm) }}
        <button class="btn btn-primary">Valider</button>
    {{ form_end(donateurForm) }}
{% endblock %}
