{% extends 'base.html.twig' %}

{% block title %}Inscription Famille{% endblock %}

{% block body %}
    <h1>Compléter le profil Famille</h1>


    {{ form_start(familleForm) }}
        {{ form_row(familleForm.nombreMembres) }}
        {{ form_row(familleForm.revenuMensuel) }}

        <button class="btn btn-primary">Valider</button>
    {{ form_end(familleForm) }}
{% endblock %}
