<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
          {# Flash messages #}
        <div class="fixed top-5 right-5 z-50 space-y-2 max-w-sm">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div
                        class="p-4 rounded shadow text-white
                        {% if label == 'success' %}
                            bg-green-500
                        {% elseif label == 'warning' %}
                            bg-yellow-400 text-black
                        {% elseif label == 'error' %}
                            bg-red-600
                        {% else %}
                            bg-blue-500
                        {% endif %}
                        ">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
